/* --------- */
/*CSS VARIABLES */
/*--------  */

:root{
--color-primary-blue:rgb(32, 53, 160);
--color-primary-violet:rgb(75, 0, 130);
--color-primary-green:rgb(76, 175, 80);
--color-dark:rgb(11, 13, 23);
--color-primary-azure:rgb(160, 174, 249);
--color-white:rgb(245, 245, 245);


    /* font-sizes */
    --font-900:   100px;
    --font-800:   75px;
    --font-700:   50px;
    --font-600:   40px;
    --font-500:   32px;
    --font-400:   28px;
    --font-300:   18px;
    --font-200:   16px;

    /* font-families */

    --bellefair: "Bellefair ";
    --barlow:  "Barlow";
    --barlow-condensed: "Barlow Condensed "


}

/* --------- */
/*END CSS VARIABLES */
/*--------  */

/* ------------ */
/* RESETS */
/* -------- */

*, *::before, *::after{
  box-sizing: border-box;
}

* {
  margin: 0 auto;
}

body{
  line-height: 1.5;
  min-width: 100%;
  min-height: 100vh;
  color: rgb(60, 59, 59);
  
  background-image:url("./images/background-home-desktop.jpeg");
}

img, picture{
  max-width: 100%;
  display: block;
}

input,
textarea,
button,
select{
  font-size: inherit;
}

/* END RESETS */

/* UTILITY CLASS LIBRARY */
/* SINGLE PURPOSE PROPERTY/VALUE PAIR */

.flex{
  display: flex;
  gap: var(--gap, .5rem);  
}

.grid{
  display: grid;
 gap: var(--gap, 1rem);  
}

.container{
  /* display: flex; */
  padding: 0 2em ;
  max-width: 80rem;
  margin: 0 auto;
}

.design_comtainer{
  border:1px solid indigo;
  padding: .5rem;
  margin: 1rem auto;
}

.box{
  background-color: aqua;
  padding:2rem;
}
/* removes motion animation effects for people
who have turned them off in browser */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Provides extra content to screen readers which is hidden
to sighted users */
.screenReader-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* COLORS */
.bg-green{
  background-color: var(--color-primary-green);
}

.bg-primary-blue{
background-color: var( --color-primary-blue);
}

.bg-dark{
  background-color: var(--color-dark);
  }

.bg-white{
  background-color: var(--color-white);
  }

  
.bg-azure{
  background-color: var(--color-primary-azure);
  }

.bg-primary-violet{
  background-color: var(--color-primary-violet);
  }

.text-white{
  color: var(--color-white);
  }

.text-dark{
  color: var(--color-dark);
  }

.text-violet{
  color: var(--color-primary-violet);
}

.text-blue{
  color: var(--color-primary-blue);
}

.text-azure{
  color: var(--color-primary-azure  );
}

.component{
  background-color: rgba(var(--primary-violet), 0.8);
}

/* END COLORS */
/* ------------ */
/* TYPOGRAPHY */

.ff-bellefair{
  font-family: var(--bellefair-medium);
}

.ff-barlow-reg{
  font-family: var(--barlow-regular);
}

.ff-barlow-conden{
  font-family: var(--barlow-condensed);
}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--font-900); }
.fs-800 { font-size: var(--font-800); }
.fs-700 { font-size: var(--font-700); }
.fs-600 { font-size: var(--font-600); }
.fs-500 { font-size: var(--font-500); }
.fs-400 { font-size: var(--font-400); }
.fs-300 { font-size: var(--font-300); }
.fs-200 { font-size: var(--font-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}
.heading1 {
    font-family: var(--bellefair);
    font-size: var(--font-900);
}

.headiing2 {
    font-family: var(--bellefair);
    font-size: var(--font-800);
}

.headiing3 {
    font-family: var(--bellefair);
    font-size: var(--font-700);
}

.headiing4 {
    font-family: var(--bellefair);
    font-size: var(--font-600);
}

.headiing5 {
    font-family: var(--bellefair);
    font-size: var(--font-500);
}

.sub-headiing1{
    font-family: var(--bellefair);
    font-size: var(--font-400);
}

.sub-headiing2{
    font-family: var(--barlow-condensed);
    font-size: var(--font-400);
}

.sub-headiing3{
  font-family: var(--barlow-condensed);
  font-size: var(--font-200);
}

.nav-text{
    font-family: var(--barlow-condensed);
    font-size: var(--font-300);
}


.numbered-title {
  font-family: var(--barlow-condensed);
  font-size: var(--font-500);
  text-transform: uppercase;
  letter-spacing: 4.72px; 
}
/* END TYPOGRAPY */




/* END UTILITY CLASS LIBRARY */
/* SINGLE PURPOSE PROPERTY/VALUE PAIR */

.App {
  text-align: center;
}


/* 
.App-header {
 
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
} */

/* navigation */
.nav_container ul li{
  justify-content: space-around;
  padding: 0;
  list-style: none;
  display: inline-flex;
}

#navBar{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  margin: 2em  auto;
  width: 700px;
  height: 10vh;
  background-color: var(--color-white);
  /* TO Center navbar give it a fixed width, margin 0 and auto */
  /* background-color: lightblue; */  
}


.nav_container ul li a{
  margin: 2em;
  text-decoration: none;
  color: var(--color-white);
 }


.nav-text{
   font-family: var(--barlow-condensed);
   font-size: var(--font-300);
}

.nav_container  a >  span {
   font-weight: 700;
   margin-right: 0.5rem;
}

.underline  {
  border-bottom: .2rem solid  var(--color-white);
  padding:  1em  0;

}

.underline:hover, .underline:focus{
  border-color: var(--color-light-blue);
}

/* END NAVIGATION */

/* BUTTONS */
.lg-button{
  border-radius: 50%;
  font-size: 4rem;
  position: relative;
  padding: 2rem;
  margin: 1rem 1rem  4 rem 1rem;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  /* place-items is a shorthand grid property for align items and justify items */
  aspect-ratio:  1;
  background-color: var(--color-white);
  color: var(--color-dark);
  text-transform: uppercase  ;
  text-decoration: none;  
}
/* END BUTTONS */